extends ./layout/layout.pug
block head_content
  h1 Welcome!
block body_content
  .welcome
    p Welcome to the Zelda Play D20 helper!
    p Here we will help you with tracking your charcater and making dice rolls
    p Let's start by making a charcater. Press the button below to get started!
    a(href="/character") Let's get started